@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center mt-3">
    <img alt="BirthdayCake" src="~/birthday-cake.png" class="mt-3" style="width:240px; height:240px; margin-left:auto; margin-right:auto;" />
    <p class="fs-1 pink-color mt-4 mb-5">Welcome to BirthdayApp</p>
    <p class="fs-3 yellow-color mb-5">You need an account to use the app</p>
</div>
